<div class="Footer">
  <div>
    <div>
      <a href="https://www.reddithelp.com/hc/es-es">Help</a>
      <a href="https://www.reddit.com/coins">Reddit Coins</a>
      <a href="https://www.reddit.com/premium">Reddit Premium</a>
      <a href="https://www.reddit.com/subreddits/a-1/">Communities</a>
      <a href="https://www.reddit.com/posts/2021/">Rereddit</a>
      <a href="https://www.reddit.com/topics/a-1/">Topics</a>
    </div>
    <div>
      <a href="https://www.redditinc.com/">About</a>
      <a href="https://www.redditinc.com/careers">Careers</a>
      <a href="https://www.redditinc.com/press">Press</a>
      <a href="https://www.redditinc.com/advertising">Advertise</a>
      <a href="http://www.redditblog.com/">Blog</a>
      <a href="https://www.redditinc.com/policies/user-agreement">Terms</a>
      <a href="https://www.redditinc.com/policies/content-policy">
        Content Policy
      </a>
      <a href="https://www.redditinc.com/policies/privacy-policy">
        Privacy Policy
      </a>
      <a href="https://www.reddit.com/help/healthycommunities/"> Mod Policy </a>
    </div>
  </div>
</div>
