@import "../../../../scss/var";

.Footer {
  grid-column: 10 / 13;
  width: 80%;
  height: calc(100vh - 85px);
  justify-self: center;
  display: flex;
  justify-items: center;
  align-items: end;

  div {
    display: flex;
    flex-direction: row;
    width: 100%;
    div {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding-left: 1.5em;
      a {
        text-decoration: none;
        color: #707070;
        line-height: 1.6;
        font-size: 0.8em;
      }
      a:hover {
        color: $orange;
      }
    }
    padding-bottom: 2em;
  }
}
