<div class="info-container">
  <div class="info-header">
    <img [src]="subredditData.logoSrc" alt="" />
    <h1>r/{{ subredditData.title }}</h1>
  </div>
  <div class="info-desc">
    <p>
      {{ subredditData.description }}
    </p>
  </div>
  <div class="info-created">
    <p>{{ subredditData.createdAt }}</p>
  </div>
</div>
<div class="members-container">
  <div class="members-joined">
    <h1>{{ subredditData.membersJoined }}</h1>
    <p>Members</p>
  </div>
  <div class="members-online">
    <h1>{{ subredditData.membersOnline }}</h1>
    <p>Online</p>
  </div>
</div>
<div [class]="joined ? 'joined-btn' : 'join-btn'" (click)="join()">
  <button>{{ btnText }}</button>
</div>
