<div class="info-container">
  <div class="info-header">
    <img
      src="https://styles.redditmedia.com/t5_2r344/styles/communityIcon_arrf56nbq1t81.png?width=256&s=27aea613bb02fb3d46808153646e2bb8ad16626e"
      alt=""
    />
    <h1>r/Analog</h1>
  </div>
  <div class="info-desc">
    <p>
      Film photography subreddit. Ask anything about analog photography, share
      photos, discuss techniques, gear or famous photographers.
    </p>
  </div>
  <div class="info-created">
    <p>Created jul 24, 2009</p>
  </div>
</div>
<div class="members-container">
  <div class="members-joined">
    <h1>1.7m</h1>
    <p>Members</p>
  </div>
  <div class="members-online">
    <h1>200</h1>
    <p>Online</p>
  </div>
</div>
<div class="join-btn"><button>Join</button></div>
